/src/main/webapp/sources/video/
/src/main/webapp/sources/img/
!/src/main/webapp/sources/img/
!/src/main/webapp/sources/video/
/target/ourcinema/sources/img/
/target/ourcinema/sources/video/
!/target/ourcinema/sources/video/
!/target/ourcinema/sources/img/
/target/
!/target/
**/target/
*.mp4
*.properties
