<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список актеров фильма</title>
</head>
<body>
<h1 th:text="${movie.getTitle() + ' (' + movie.getYear() + ')'}">Movie</h1>
<br/>
<h4>Список актеров фильма</h4>
<div th:each="actor : ${actors}">
    <a th:href="@{/actors/{id}(id=${actor.getId()})}"
             th:text="${actor.getName()}">Actors</a>
    <form th:method="DELETE" th:action="@{/union/{movid}(movid=${movie.getId()})}">
        <label for="actid">Id:</label>
        <input type="text" name="actid" id="actid" th:value="${actor.getId()}">
        <input type="submit" value="Убрать из фильма">
    </form>
    <br />
</div>
<br/>

<h4> Добавление актеров к фильму </h4>
<hr/>

<a th:href="@{/union/new?movid={movid}(movid=${movie.getId()})}">Создать актера и добавить к фильму</a>

<br/>
<a th:href="@{/union/search/{id}(id=${movie.getId()})}">Добавить к фильму существующего актера</a>
<br />

<hr />
<br />
<p> Если вы не знаете, есть ли актер в базе данных - попробуйте его создать, выбрав "Создать актера и добавить к фильму".
Если актер уже есть в базе, страница выдаст вам предупреждение. В этом случае, вернитесь назад на эту страницу и
воспользуйтесь пунктом "Добавить к фильму существующего актера". </p>
<br/>

</body>
</html>