<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список актеров фильма</title>
</head>
<body>
<h1 th:text="${movie.getTitle() + ' (' + movie.getYear() + ')'}">Movie</h1>
<br/>
<h4>Список актеров фильма</h4>
<div th:each="actor : ${actors}">
    <a th:href="@{/actors/{id}(id=${actor.getId()})}"
       th:text="${actor.getName()}">Actors</a>
</div>
<br/>

<h4> Добавление актеров к фильму </h4>
<hr/>
<a href="/actors/new">Добавить нового актера</a>

<br/>
<a href="/union/add">Добавить к фильму существующего актера</a>
<br/>
<hr/>
<br/>
<p> Если вы не знаете, есть ли актер в базе данных - попробуйте его создать.
Если актер уже есть в базе, страница выдаст вам предупреждение. В этом случае
воспользуйтесь пунктом "Добавить существующего актера". </p>
<p> Если же актера в базе данных нет, сначала создайте его - "Добавить нового актера", а потом
зайдите в список актеров фильма и воспользуйтесь пунктом "Добавить существующего актера".</p>
<br/>
</body>
</html>