<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание актера</title>
    <link type="text/css" rel="stylesheet" href="../../../sources/css/admin_show.css" />
</head>
<body>
<div class="main">
    <div class="header">
        <div class="logo">
            <div class="logo_text">
                <h1><a href="/">НашеКино</a></h1>
                <h2>Панель администрирования</h2>
            </div>
        </div>

        <div class="menubar">
            <ul class="menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/admin">Фильмы</a></li>
                <li><a href="/actors">Актеры</a></li>
                <li class="selected"><a href="#">Редактирование</a></li>
                <li><a href="#">Инструменты</a></li>
            </ul>
        </div>
    </div>
    <div class="site_content">
        <br/>
        <div class="description">
            <h1>Создание и добавление актера</h1>
            <br />
            <br />
            <div class="forms">
                <form th:method="POST" th:action="@{/union?movid={movid}(movid=${movie.getId()})}" th:object="${actor}">
                    <label for="name" class="label">Введите имя и фамилию актера: </label>
                    <input class="form" type="text" th:field="*{name}" id="name">
                    <br/>
                    <br/>
                    <input class="button_ok" type="submit" value="Создать актера"/>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<!--<form  >-->
<!--    <label for="name">Введите имя и фамилию актера: </label>-->
<!--    <input type="text" />-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>-->
<!--    <br />-->
<!--    <input type="submit" value="Создать актера"/>-->
<!--</form>-->

</body>
</html>