<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Актер не найден</title>
    <link type="text/css" rel="stylesheet" href="../../../sources/css/union_show.css" />
</head>
<body>

<div class="main">
    <div class="header">
        <div class="logo">
            <div class="logo_text">
                <h1><a href="/">НашеКино</a></h1>
                <h2>Панель администрирования</h2>
            </div>
        </div>

        <div class="menubar">
            <ul class="menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/admin">Фильмы</a></li>
                <li><a href="/actors">Актеры</a></li>
                <li class="selected"><a href="#">Редактирование</a></li>
                <li><a href="#">Инструменты</a></li>
            </ul>
        </div>
    </div>
    <div class="site_content">
        <br />
        <h2 class="red">Извините, такого актера не найдено</h2>
        <br />
        <h3 class="grey">Вы можете вернуться и создать его, чтобы добавить к фильму</h3>
    </div>
</div>

</body>
</html>