<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Данные о актере</title>
</head>
<body>

<p th:text="${'Добавляем к фильму: ' + movie.getTitle()}">VALUE</p>
<p th:text="${'Актер: ' + actor.getName()}">VALUE</p>

<br />

<form action="/union/connect" method="post">
    <div>
        <label for="id">Movie Id</label>
        <input name="id" id="id" th:value="${movie.getId()}">
    </div>
    <div>
        <label for="name">ActorName</label>
        <input name="name" id="name" th:value="${actor.getName()}" readonly>
    </div>
    <div>
        <button>Добавить актера к фильму</button>
    </div>
</form>
<br />

</body>
</html>