<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Данные о актере</title>
</head>
<body>

<p th:text="${'ID: ' + actor.getId()}">VALUE</p>
<p th:text="${'Имя: ' + actor.getName()}">VALUE</p>
<p th:text="${'Фильмы: ' + actor.getMovies()}">VALUE</p>


<br />
<form th:method="GET" th:action="@{/actors/{id}/edit(id=${actor.getId()})}">
    <input type="submit" value="Редактировать актера"/>
</form>
<br />
<form th:method="DELETE" th:action="@{/actors/{id}(id=${actor.getId()})}">
    <input type="submit" value="Удалить актера"/>
</form>
<br />

</body>
</html>