* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #913333;
    height: 177px;
    font-size: 0.8em;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 1400px;
}

.main, .logo, .menubar, .site_content, .footer {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 1380px;
    padding-bottom: 40px;
}

.logo h1, .logo h2 {
    font: normal 350% 'century gothic', arial, sans-serif;
    margin: 0 0 0 9px;
}

.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover {
    padding: 22px 0 0 0;
    color: #fff;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.logo_text h2 {
    font-size: 1.2em;
    padding: 4px 0 0 0;
    color: #999;
}

.menubar {
    width: 1400px;
    height: 46px;
}

.site_content {
    background-color: #ccd1b8;
    width: 1400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
}

.site_content p {
    font-size: 18px;
}

.movies {
    width: 1400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


ul.menu {
    float: right;
}

ul.menu li {
    float: left;
    padding: 0 0 0 59px;
    list-style: none;
    margin: 1px 2px 0 0;
}

ul.menu li a {
    font: normal 120% 'trebuchet ms', sans-serif;
    display: block;
    height: 20px;
    padding: 6px 35px 5px 28px;
    color: #fff;
    text-decoration: none;
}
ul.menu li.selected a {
    color: #aeb002;
}

ul.menu li a:hover {
    color: #e4ec04;
}

.red {
    color: red;
}

.button_ok {
    min-width: 240px;
    background: #347053;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button_neitral {
    min-width: 240px;
    background: #f09846;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button_no {
    min-width: 240px;
    background-color: white;
    border: 2px solid #cf1b30;
    border-radius: 8px;
    color: #cf1b30;
    padding: 6px 14px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 8px 0 rgba(0,0,0,0.19);
}

.label {
    width: 100px;
    font-size: 16px;
    display: inline-block;
}

.form {
    width: 50px;
    padding: 2px 2px 2px 2px;
    font-size: 16px;
    border-radius: 3px;
    display: inline-block;
}

.list a {
    display: inline-block;
    font-size: 16px;
}
