<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать фильм</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${movie.getId()})}" th:object="${movie}">
    <label for="title">Введите название: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</div>
    <br/>
    <label for="genre">Введите жанр: </label>
    <input type="text" th:field="*{genre}" id="genre"/>
    <div style="color:red" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">Genre error</div>
    <br/>
    <label for="country">Введите страну: </label>
    <input type="text" th:field="*{country}" id="country"/>
    <div style="color:red" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Country error</div>
    <br/>
    <label for="year">Введите год: </label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</div>
    <br/>
    <label for="director">Введите режиссера: </label>
    <input type="text" th:field="*{director}" id="director"/>
    <div style="color:red" th:if="${#fields.hasErrors('director')}" th:errors="*{director}">Director error</div>
    <br/>
    <label for="duration">Введите режиссера: </label>
    <input type="text" th:field="*{duration}" id="duration"/>
    <div style="color:red" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}">Duration error</div>
    <br/>
    <label for="description">Введите описание: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description error</div>
    <br/>
    <label for="rating">Введите рейтинг: </label>
    <input type="text" th:field="*{rating}" id="rating"/>
    <div style="color:red" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">Rating error</div>
    <br/>
    <br/>
    <input type="submit" value="Обновить"/>
</form>

</body>
</html>