<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Админ панель фильмов</title>
    <link type="text/css" rel="stylesheet" href="../../../sources/css/admin_index.css" />
</head>
<body>
<div class="main">
    <div class="header">
        <div class="logo">
            <div class="logo_text">
                <h1><a href="/">НашеКино</a></h1>
                <h2>Панель администрирования</h2>
            </div>
        </div>

        <div class="menubar">
            <ul class="menu">
                <li><a href="/">Главная</a></li>
                <li class="selected"><a href="/admin">Фильмы</a></li>
                <li><a href="/actors">Актеры</a></li>
                <li><a href="#">Редактирование</a></li>
                <li><a href="#">Инструменты</a></li>
            </ul>
        </div>
    </div>
    <div class="site_content">
        <h2>Управление фильмами:</h2>
        <br/>
        <div class="manage">
            <form method="get" action="/admin/new">
                <button class="button_ok">Добавить новый фильм</button>
            </form>
            <br/>
            <form method="get" action="/actors">
                <button class="button_ok">Список всех актеров</button>
            </form>
            <br/>
        </div>
        <hr>
        <h2>Список загруженных фильмов: </h2>
        <br/>
        <div class="movies" th:each="movie : ${movies}">
            <a th:href="@{/admin/{id}(id=${movie.getId()})}">
                <img th:src="@{../../../sources/img/{cover}(cover=${movie.getCover()})}"
                     alt="Обложка фильма" width="150" height="225">
                <p><a th:href="@{/admin/{id}(id=${movie.getId()})}"
                      th:text="${movie.getTitle() + ' ' + '(' + movie.getYear() + '),'}">Movie</a></p>

                <p><a th:href="@{/admin/{id}(id=${movie.getId()})}"
                      th:text="${movie.getGenre()}">Movie</a></p>
                <br />
        </div>
    </div>
</div>


</body>
</html>